<div class="container center_container">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-4 col-lg-4"></div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail">
          <h3 class="form-title">Sign In</h3>
          <div class="caption">
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-horizontal">
              <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" formControlName="email" class="form-control" id="email">
                <small class="text-danger" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">Please Enter Email Address</small>
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" formControlName="password" class="form-control" id="pwd">
                <small class="text-danger" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Please Enter Password</small>
              </div>
              <!-- <div class="form-group checkbox">
                <label>
                  <input type="checkbox"> Remember me</label>
              </div> -->
              <div class="form-button">
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-default">Sign In</button>
              </div>
              <div class="footer-text">
                  Don't have an account yet ?  <span class="footer-text-color" routerLink="/register">Create an account</span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-4 col-lg-4"></div>
    </div>
    <!--/row-->
  </div>
  <!--/container -->