<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="alignment-example">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a routerLink="/home">About</a>
        </li>
        <li>
          <a routerLink="/home">Contact</a>
        </li>
      </ul>
      <p class="navbar-text navbar-right">
        <a class="navbar-link" routerLink="/login">Sign out</a>
      </p>
    </div>

  </div>
</nav>